
    <%- include("header"); %>
    
    <div class="container">
        <h1>Home</h1>
        <p><%= StartingContent %></p>
    </div>

   

    <% posts.forEach((post) =>{%>
        <div class="container ">
            <h1><%= post.title %></h1>
            <p  id="post"><%= post.content %>
                <a href="/posts/<%=post.title%>">Raed more</a>
            </p>
        </div>
      
        <% }); %>
    <%- include("footer"); %>
